.divonama {
    height: 90vh;
    color: white;
    font-size: 18px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 455px){

    .divonama {
        height: 90vh;
        color: white;
        overflow: auto;
        font-size: 18px;
        display: block;        
    }
}